[Desktop Entry]
Name=Simple Password Generator
Comment=Very simple Python3-based GUI application to generate random password.
Exec=simple-pwgen-gui
Icon=simple-pwgen
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Utility;
StartupNotify=false
