#pw_score_field, #pw_guesses_field, #pw_entropy_field, #pw_crack_time_field, #pw_comment_field {
	background: none;
}

#pw_strength_field {
	background: none;
	font-weight: bold;
	color: %s;
}

#strength_bar trough block.filled {
	background: %s;
}

/* #strength_bar trough block.empty {
	background: ;
} */